        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <section class="sidebar">

                <!-- Sidebar Menu -->
                <ul class="sidebar-menu">
                    <!-- Optionally, you can add icons to the links -->
                    <li><a href="#"><i class="fa fa-dashboard"></i> <span>Home</span></a></li>
                    <li><a href="#"><i class="fa fa-usd"></i> <span>About Remittance</span></a></li>
                    <li><a href="#"><i class="fa fa-calculator"></i> <span>Fees Calculator</span></a></li>
                    <li class="@@if (active === 'news') {active}"><a href="#"><i class="fa fa-list-ul"></i> <span>News</span></a></li>
                </ul><!-- end ul.sidebar-menu -->

            </section>
        </aside>  <!-- end aside.main-sidebar -->
